Django==4.2.20
django-htmx==1.19.0
shortuuid==1.0.13
reportlab==4.2.2
waitress==3.0.0
weasyprint==61.2
psycopg2-binary==2.9.7
python-decouple==3.8
django-crispy-forms==2.0
xlrd==1.2.0
xlsWriter==3.2.0
Pillow==10.0.1
beautifulsoup4==4.12.2